.activity-calendar-wrapper {
    /* background: gray; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin-top: 20px;
}


.activity-calendar-item {
    /* background: blue; */
    min-height: 100px;
    margin: 4px;
    flex: 0 1 calc(14% - 8px);
}

